<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Model2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodigFilter</filter-name>
    <filter-class>com.webapp.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodigFilter</filter-name>
    <url-pattern>/employee</url-pattern>
    <url-pattern>/world/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>employeeFrontController</servlet-name>
    <servlet-class>com.webapp.EmployeeFrontControllerServlet</servlet-class>
    <init-param>
      <param-name>cmdpath</param-name>
      <param-value>/WEB-INF/cmd/employee.properties</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeFrontController</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>worldFrontController</servlet-name>
    <servlet-class>com.webapp.WorldFrontControllerServlet</servlet-class>
    <init-param>
      <param-name>cmdpath</param-name>
      <param-value>/WEB-INF/cmd/world.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>worldFrontController</servlet-name>
    <url-pattern>/world/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>org.springframework.dao.DataAccessException</exception-type>
    <location>/WEB-INF/errors/serverError.jsp</location>
  </error-page>
</web-app>